body {
    background-color: rgb(253, 253, 253);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.container {
    display: flex;
    min-height: 100%;
    width: 100%;
}

.sidebar {
    width: 250px;
    height: 90%;
    background-color: #CDE6DA;
    border-radius: 25px;
    padding: 30px 20px;
    margin-top: 25px;
}

.sidebar-top {
    text-align: center;
}

.showCalendar {
    width: 90%;
    flex-grow: 1;
    padding: 2em;
  }

h1 {
    font-size: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

hr {
    margin-bottom: 30px;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 10px;
    margin-left: 20px;
}

img {
    width: 100px;
    margin-bottom: 20px;

}

.done {
    color: rgba(126, 148, 124, 0.3);
    text-decoration: line-through;
}

.notDone {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

i {
    margin-right: 10px;
    margin-top: 30px;
    
    &:hover {
        color: rgb(148, 28, 28);
        cursor: pointer;
    }
}

.remove-todos {
    
    &:hover {
        color: rgb(148, 28, 28);
        cursor: pointer;
    }
}

.fc-col-header-cell-cushion  {
    color: #000;
    text-decoration: none;
}

.fc-daygrid-day-number {
    color: #000;
    text-decoration: none;
}

.fc .fc-daygrid-day-frame {
    position: relative;
    max-height: 60px;
}

.custom-modal-style {
    width: 400px;
    height: 300px;
}


.modal-header {
    text-align: center;
}
